sample_projects/
*.test.*
*.spec.*
**/test/**
.vscode/**
.vscode-test/**
src/**
.github/
*.gif
*.vsix
.eslintrc.json
.vscode-test.mjs
.vscodeignore
.gitignore
.npmignore
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

# Packages
node_modules/commander/**
node_modules/kleur/**
